<section>
  <h2>Testimonials</h2>
  {% for block in section.blocks %}
    <div class="testimonial">
      <strong>{{ block.settings.customer_name }}</strong>
      <p>{{ block.settings.testimonial_text }}</p>
    </div>
  {% endfor %}

  <h1>{{ shop.metaobjects.app_metaobject.nabins.phone }}</h1>
  <h1>{{ shop.metaobjects.app_metaobject.nabins.name }}</h1>
  <h1>{{ shop.metaobjects.app_metaobject.nabins.facebook["text"] }}</h1>
</section>

{% schema %}
{
  "name": "Testimonials",
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial Block",
      "settings": [
        {
          "type": "text",
          "id": "customer_name",
          "label": "Customer Name",
          "default": "Nabin Ojha"
        },
        {
          "type": "textarea",
          "id": "testimonial_text",
          "label": "Testimonial Text",
          "default": "Best Site Ever"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default Testimonials",
      "blocks": [
        {
          "type": "testimonial",
           "settings": {
            "customer_name": "Jane Smith",
            "testimonial_text": "Absolutely fantastic service!",
          }

        },
        {
          "type": "testimonial",
           "settings": {
            "customer_name": "Emily Johnson",
            "testimonial_text": "I loved the experience from start to finish!"
          }
        }
      ]
    }
  ]

}
{% endschema %}
